<%%= render(IndexComponent.new) do |index| %>
  <%%= index.with_header(
    title: I18n.t('bo.<%= class_name.underscore %>.others'),
    subtitle: I18n.t('bo.<%= class_name.underscore %>.subtitle'),
      ) do |header| %>
    <%%= header.with_add_button(path: new_admin_<%= class_name.underscore %>_path) %>
  <%% end %>
  <%%= render('table') %>
  <div class="mx-10">
    <%%== pagy_nav(@pagy) %>
  </div>
<%% end %>
